body {
    background: url("../Janvi_Patel_190423116006_mp3/images/image1.jpg");
    background-color: #887c7c;
    color: #faf3f3;
  }
  
  h1 {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
  
    text-align: center;
    text-shadow: 3px 5px rgb(252, 0, 0), 0 0 50px #f2c94c;
    line-height: 59px;
  
    padding: 0 64px;
    margin: 0;
  }
  
  .stopwatch {
    display: grid;
    justify-items: center;
    text-shadow: 0 0 0px rgb(12, 3, 3), 0 0 50px #f2c94c;
    grid-row-gap: 23px;
    width: 100%;
    padding-top: 25px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    color: rgb(10, 7, 7);
    align-items: center;
    box-shadow: 0 0 15px rgb(19, 16, 16);

    height: 270px;
    width: 270px;
  
    border: 8px solid;
    border-radius: 50%;
  }
  
  .time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 48px;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    width: 187px;
  }
  
  button {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
  }
  
  #playButton {
    display: block;
  }
  
  #pauseButton {
    display: none;
  }